.messages-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222222; /* Changed to black */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff; /* Ensuring text is readable on black background */
}

.message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.message-item:last-child {
  border-bottom: none;
}

.message-beaconId {
  font-size: 12px;
  color: #888;
  position: absolute;
  top: 10px;
  left: 10px;
}

.message-text {
  margin: 20px 0 5px 0;
  font-size: 16px;
}

.message-receivedTime {
  font-size: 12px;
  color: #888;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #0056b3;
}